@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: hsl(257, 40%, 49%) url(../images/bg-mobile.svg) no-repeat;
}

#logo{
    background: url(../images/logo.svg) no-repeat;
    background-size: contain;
    max-width: 175px;
    width: 100%;
    height: 50px;
    margin: 0px 0px 20px -5px;
}

#telas{
    background: url(../images/illustration-mockups.svg) no-repeat;
    background-size: contain;
    max-width: 375px;
    width: 100%;
    min-height: 37vh;
    height: 100%;
}

#textos{
    margin: 15px 0px;
}

div#textos > h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.50em;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.281);;
}

div#textos > p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.281);;
}

div#textos > p#register > a{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding: 10px 50px;
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    text-align: center;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.281);
}
div#textos > p#register > a:hover {
    background-color: hsl(300, 89%, 65%);
    color: white;
}

.redes-sociais{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 30px;
}

ion-icon {
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 24px;  
}

section ion-icon:hover{
    color: hsl(300, 89%, 65%);
    border: 1px solid hsl(300, 89%, 65%);;
}

footer > p{
    background: rgb(34, 34, 34);  
    margin: -20px;
    position: relative;
    bottom: 0;
    left: 0;
    color: white; 
    text-decoration: none;
    font-size: 0.67em;
    text-align: center;
}


